<!DOCTYPE html>
<html lang="en" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Subheads - Cinder CSS</title>
  

  <link rel="stylesheet" href="/cinder/dist/index.css">
  <link rel="stylesheet" href="/cinder/assets/css/index.css">

  <script>
  window.toggler_icons = {
    light: `<svg aria-hidden="true" role="img" class="svgicon" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display: inline-block; user-select: none; vertical-align: text-bottom;"><path fill-rule="evenodd" d="M9.598 1.591a.75.75 0 01.785-.175 7 7 0 11-8.967 8.967.75.75 0 01.961-.96 5.5 5.5 0 007.046-7.046.75.75 0 01.175-.786zm1.616 1.945a7 7 0 01-7.678 7.678 5.5 5.5 0 107.678-7.678z"></path></svg>`,
    dark: `<svg aria-hidden="true" role="img" class="svgicon" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display: inline-block; user-select: none; vertical-align: text-bottom;"><path fill-rule="evenodd" d="M8 10.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5zM8 12a4 4 0 100-8 4 4 0 000 8zM8 0a.75.75 0 01.75.75v1.5a.75.75 0 01-1.5 0V.75A.75.75 0 018 0zm0 13a.75.75 0 01.75.75v1.5a.75.75 0 01-1.5 0v-1.5A.75.75 0 018 13zM2.343 2.343a.75.75 0 011.061 0l1.06 1.061a.75.75 0 01-1.06 1.06l-1.06-1.06a.75.75 0 010-1.06zm9.193 9.193a.75.75 0 011.06 0l1.061 1.06a.75.75 0 01-1.06 1.061l-1.061-1.06a.75.75 0 010-1.061zM16 8a.75.75 0 01-.75.75h-1.5a.75.75 0 010-1.5h1.5A.75.75 0 0116 8zM3 8a.75.75 0 01-.75.75H.75a.75.75 0 010-1.5h1.5A.75.75 0 013 8zm10.657-5.657a.75.75 0 010 1.061l-1.061 1.06a.75.75 0 11-1.06-1.06l1.06-1.06a.75.75 0 011.06 0zm-9.193 9.193a.75.75 0 010 1.06l-1.06 1.061a.75.75 0 11-1.061-1.06l1.06-1.061a.75.75 0 011.061 0z"></path></svg>`
  }

  const theme = localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
      ? "dark"
      : "light"

  document.documentElement.dataset.colorMode = theme;
  </script>
  <script type="module" src="/cinder/assets/js/index.js"></script>
</head>

<body>
  <nav class="Header" style="position: sticky; top: 0;">
    <h1 class="Header-item h3 mr-3">Cinder</h1>
    <button class="Header-item  btn" id="color-mode-toggler">Toggle dark theme</button>
    <script>
    document.getElementById("color-mode-toggler").innerHTML = toggler_icons[theme];
    </script>
  </nav>
  <div class="d-flex flex-wrap">
    <div class="p-2 col-12 col-md-3 col-lg-3 hide-md hide-sm">
      <nav class="menu position-sticky" style="top: 72px;">
        <a href="/cinder/" class="menu-item" >Home</a>
    <div class="menu-heading">Components</div><a href="/cinder/components/alerts/" class="menu-item"
        
      >Alerts</a><a href="/cinder/components/box/" class="menu-item"
        
      >Box</a><a href="/cinder/components/buttons/" class="menu-item"
        
      >Buttons</a><a href="/cinder/components/forms/" class="menu-item"
        
      >Forms</a><a href="/cinder/components/navigation/" class="menu-item"
        
      >Navigation</a><a href="/cinder/components/select-menu/" class="menu-item"
        
      >Select menu</a><a href="/cinder/components/subheads/" class="menu-item"
         aria-current="page"
      >Subheads</a>
    <div class="menu-heading">Misc</div><a href="/cinder/misc/markdown_test/" class="menu-item"
        
      >Markdown test</a>
    <div class="menu-heading">Utilities</div><a href="/cinder/utilities/margin/" class="menu-item"
        
      >Margin</a><a href="/cinder/utilities/padding/" class="menu-item"
        
      >Padding</a><a href="/cinder/utilities/typography/" class="menu-item"
        
      >Typography</a>
      </nav>
    </div>
    <div class="col-12 col-md-9 col-lg-9 flex-1 p-4 container-lg">
      <nav class="menu d-md-none">
        <a href="/cinder/" class="menu-item" >Home</a>
    <div class="menu-heading">Components</div><a href="/cinder/components/alerts/" class="menu-item"
        
      >Alerts</a><a href="/cinder/components/box/" class="menu-item"
        
      >Box</a><a href="/cinder/components/buttons/" class="menu-item"
        
      >Buttons</a><a href="/cinder/components/forms/" class="menu-item"
        
      >Forms</a><a href="/cinder/components/navigation/" class="menu-item"
        
      >Navigation</a><a href="/cinder/components/select-menu/" class="menu-item"
        
      >Select menu</a><a href="/cinder/components/subheads/" class="menu-item"
         aria-current="page"
      >Subheads</a>
    <div class="menu-heading">Misc</div><a href="/cinder/misc/markdown_test/" class="menu-item"
        
      >Markdown test</a>
    <div class="menu-heading">Utilities</div><a href="/cinder/utilities/margin/" class="menu-item"
        
      >Margin</a><a href="/cinder/utilities/padding/" class="menu-item"
        
      >Padding</a><a href="/cinder/utilities/typography/" class="menu-item"
        
      >Typography</a>
      </nav>
      <div class="d-flex flex-wrap">
  <div class="Prose flex-1 col-12 col-md-8">
    <h1>Subheads</h1>
    <p>The basic Subhead consists of a <code>.Subhead</code> container, which has a light gray bottom border. Use <code>.Subhead-heading</code> for the heading itself. It's an <code>&lt;h2&gt;</code> sized heading with normal font-weight.</p>
<p>Use a heading element whenever possible as they can be used as navigation for assistive technologies, and avoid skipping levels.</p>
<pre style="display: none!important;"></pre>
      <cinder-live-html class="Box LiveCode mb-2">
        <iframe class="LiveCode-frame" height="100"></iframe>
        <form action="#0" class="LiveCode-source">
          <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">
            <svg aria-hidden="true" role="img" class="svgicon" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display:inline-block;user-select:none;vertical-align:text-bottom"><path fill-rule="evenodd" d="M5.75 1a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75v-3a.75.75 0 00-.75-.75h-4.5zm.75 3V2.5h3V4h-3zm-2.874-.467a.75.75 0 00-.752-1.298A1.75 1.75 0 002 3.75v9.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 13.25v-9.5a1.75 1.75 0 00-.874-1.515.75.75 0 10-.752 1.298.25.25 0 01.126.217v9.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-9.5a.25.25 0 01.126-.217z"></path></svg>
          </button>
          <div class="LiveCode-editor">
            <textarea live-code-source>&lt;div class=&quot;Subhead&quot;&gt;
  &lt;div class=&quot;Subhead-heading&quot;&gt;Plain subhead&lt;/div&gt;
&lt;/div&gt;</textarea>
            <pre><code></code></pre>
          </div>
        </form>
      </cinder-live-html>
      
<p>To add a top margin to the Subhead, use <code>.Subhead--spacious</code>. This is useful for separating sections on a settings page.</p>
<pre style="display: none!important;"></pre>
      <cinder-live-html class="Box LiveCode mb-2">
        <iframe class="LiveCode-frame" height="100"></iframe>
        <form action="#0" class="LiveCode-source">
          <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">
            <svg aria-hidden="true" role="img" class="svgicon" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display:inline-block;user-select:none;vertical-align:text-bottom"><path fill-rule="evenodd" d="M5.75 1a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75v-3a.75.75 0 00-.75-.75h-4.5zm.75 3V2.5h3V4h-3zm-2.874-.467a.75.75 0 00-.752-1.298A1.75 1.75 0 002 3.75v9.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 13.25v-9.5a1.75 1.75 0 00-.874-1.515.75.75 0 10-.752 1.298.25.25 0 01.126.217v9.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-9.5a.25.25 0 01.126-.217z"></path></svg>
          </button>
          <div class="LiveCode-editor">
            <textarea live-code-source>&lt;div class=&quot;Subhead Subhead--spacious&quot;&gt;
  &lt;div class=&quot;Subhead-heading&quot;&gt;Spacious subhead&lt;/div&gt;
&lt;/div&gt;</textarea>
            <pre><code></code></pre>
          </div>
        </form>
      </cinder-live-html>
      
<p>You can add a one line description to the subhead with <code>.Subhead-description</code>.</p>
<pre style="display: none!important;"></pre>
      <cinder-live-html class="Box LiveCode mb-2">
        <iframe class="LiveCode-frame" height="100"></iframe>
        <form action="#0" class="LiveCode-source">
          <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">
            <svg aria-hidden="true" role="img" class="svgicon" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display:inline-block;user-select:none;vertical-align:text-bottom"><path fill-rule="evenodd" d="M5.75 1a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75v-3a.75.75 0 00-.75-.75h-4.5zm.75 3V2.5h3V4h-3zm-2.874-.467a.75.75 0 00-.752-1.298A1.75 1.75 0 002 3.75v9.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 13.25v-9.5a1.75 1.75 0 00-.874-1.515.75.75 0 10-.752 1.298.25.25 0 01.126.217v9.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-9.5a.25.25 0 01.126-.217z"></path></svg>
          </button>
          <div class="LiveCode-editor">
            <textarea live-code-source>&lt;div class=&quot;Subhead&quot;&gt;
  &lt;div class=&quot;Subhead-heading&quot;&gt;Subhead with description&lt;/div&gt;
  &lt;div class=&quot;Subhead-description&quot;&gt;The subhead is a subdued header style with a light bottom border.&lt;/div&gt;
&lt;/div&gt;</textarea>
            <pre><code></code></pre>
          </div>
        </form>
      </cinder-live-html>
      
<p>For longer descriptions, it is recommended that you use a paragraph below the Subhead.</p>
<pre style="display: none!important;"></pre>
      <cinder-live-html class="Box LiveCode mb-2">
        <iframe class="LiveCode-frame" height="100"></iframe>
        <form action="#0" class="LiveCode-source">
          <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">
            <svg aria-hidden="true" role="img" class="svgicon" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display:inline-block;user-select:none;vertical-align:text-bottom"><path fill-rule="evenodd" d="M5.75 1a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75v-3a.75.75 0 00-.75-.75h-4.5zm.75 3V2.5h3V4h-3zm-2.874-.467a.75.75 0 00-.752-1.298A1.75 1.75 0 002 3.75v9.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 13.25v-9.5a1.75 1.75 0 00-.874-1.515.75.75 0 10-.752 1.298.25.25 0 01.126.217v9.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-9.5a.25.25 0 01.126-.217z"></path></svg>
          </button>
          <div class="LiveCode-editor">
            <textarea live-code-source>&lt;div class=&quot;Subhead&quot;&gt;
  &lt;div class=&quot;Subhead-heading&quot;&gt;Plain subhead&lt;/div&gt;
&lt;/div&gt;
&lt;p&gt;
  This is a longer description that is sitting below the Subheader. It's much longer than a description that could sit comfortably in the Subhead. It might even have &lt;strong&gt;bold&lt;/strong&gt; text. &lt;a href=&quot;#&quot;&gt;Click to learn more.&lt;/a&gt;
&lt;/p&gt;</textarea>
            <pre><code></code></pre>
          </div>
        </form>
      </cinder-live-html>
      
<p>You can add a button or something to the right of <code>.Subhead-heading</code> with the <code>.Subhead-actions</code> element.</p>
<pre style="display: none!important;"></pre>
      <cinder-live-html class="Box LiveCode mb-2">
        <iframe class="LiveCode-frame" height="100"></iframe>
        <form action="#0" class="LiveCode-source">
          <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">
            <svg aria-hidden="true" role="img" class="svgicon" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display:inline-block;user-select:none;vertical-align:text-bottom"><path fill-rule="evenodd" d="M5.75 1a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75v-3a.75.75 0 00-.75-.75h-4.5zm.75 3V2.5h3V4h-3zm-2.874-.467a.75.75 0 00-.752-1.298A1.75 1.75 0 002 3.75v9.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 13.25v-9.5a1.75 1.75 0 00-.874-1.515.75.75 0 10-.752 1.298.25.25 0 01.126.217v9.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-9.5a.25.25 0 01.126-.217z"></path></svg>
          </button>
          <div class="LiveCode-editor">
            <textarea live-code-source>&lt;div class=&quot;Subhead&quot;&gt;
  &lt;div class=&quot;Subhead-heading&quot;&gt;Subhead with button&lt;/div&gt;
  &lt;div class=&quot;Subhead-actions&quot;&gt;&lt;a href=&quot;#url&quot; class=&quot;btn btn-sm btn-primary&quot; role=&quot;button&quot;&gt;Action&lt;/a&gt;&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;Subhead Subhead--spacious&quot;&gt;
  &lt;div class=&quot;Subhead-heading&quot;&gt;Subhead with link&lt;/div&gt;
  &lt;div class=&quot;Subhead-actions&quot;&gt;&lt;a href=&quot;#url&quot;&gt;Learn more&lt;/a&gt;&lt;/div&gt;
&lt;/div&gt;</textarea>
            <pre><code></code></pre>
          </div>
        </form>
      </cinder-live-html>
      
<p>Use all the elements together to create a Subhead with actions and a description.</p>
<pre style="display: none!important;"></pre>
      <cinder-live-html class="Box LiveCode mb-2">
        <iframe class="LiveCode-frame" height="100"></iframe>
        <form action="#0" class="LiveCode-source">
          <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">
            <svg aria-hidden="true" role="img" class="svgicon" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display:inline-block;user-select:none;vertical-align:text-bottom"><path fill-rule="evenodd" d="M5.75 1a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75v-3a.75.75 0 00-.75-.75h-4.5zm.75 3V2.5h3V4h-3zm-2.874-.467a.75.75 0 00-.752-1.298A1.75 1.75 0 002 3.75v9.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 13.25v-9.5a1.75 1.75 0 00-.874-1.515.75.75 0 10-.752 1.298.25.25 0 01.126.217v9.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-9.5a.25.25 0 01.126-.217z"></path></svg>
          </button>
          <div class="LiveCode-editor">
            <textarea live-code-source>&lt;div class=&quot;Subhead&quot;&gt;
  &lt;div class=&quot;Subhead-heading&quot;&gt;Subhead with actions and description&lt;/div&gt;
  &lt;div class=&quot;Subhead-actions&quot;&gt;&lt;a href=&quot;#url&quot; class=&quot;btn btn-sm btn-primary&quot; role=&quot;button&quot;&gt;Action&lt;/a&gt;&lt;/div&gt;
  &lt;div class=&quot;Subhead-description&quot;&gt;The subhead is a subdued header style with a light bottom border.&lt;/div&gt;
&lt;/div&gt;</textarea>
            <pre><code></code></pre>
          </div>
        </form>
      </cinder-live-html>
      
<p>Use the <code>.Subhead-heading--danger</code> modifier to make the text bold and red. This is useful for warning users.</p>
<pre style="display: none!important;"></pre>
      <cinder-live-html class="Box LiveCode mb-2">
        <iframe class="LiveCode-frame" height="100"></iframe>
        <form action="#0" class="LiveCode-source">
          <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">
            <svg aria-hidden="true" role="img" class="svgicon" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display:inline-block;user-select:none;vertical-align:text-bottom"><path fill-rule="evenodd" d="M5.75 1a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75v-3a.75.75 0 00-.75-.75h-4.5zm.75 3V2.5h3V4h-3zm-2.874-.467a.75.75 0 00-.752-1.298A1.75 1.75 0 002 3.75v9.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 13.25v-9.5a1.75 1.75 0 00-.874-1.515.75.75 0 10-.752 1.298.25.25 0 01.126.217v9.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-9.5a.25.25 0 01.126-.217z"></path></svg>
          </button>
          <div class="LiveCode-editor">
            <textarea live-code-source>&lt;div class=&quot;Subhead&quot;&gt;
  &lt;div class=&quot;Subhead-heading Subhead-heading--danger&quot;&gt;Danger zone&lt;/div&gt;
&lt;/div&gt;</textarea>
            <pre><code></code></pre>
          </div>
        </form>
      </cinder-live-html>
      

  </div>
  <div class="col-4 p-3 hide-sm hide-md hide-lg">a</div>
</div>
    </div>
  </div>
</body>
</html>