<!DOCTYPE html>
<html lang="en" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Buttons - Cinder CSS</title>
  

  <link rel="stylesheet" href="/cinder/dist/index.css">
  <link rel="stylesheet" href="/cinder/assets/css/index.css">

  <script type="module" src="/cinder/assets/js/index.js"></script>
</head>

<body>
  <nav class="Header" style="position: sticky; top: 0;">
    <h1 class="Header-item h3 mr-3">Cinder</h1>
    <button class="Header-item  btn" theme-toggler>Toggle dark theme</button>
  </nav>
  <div class="d-flex flex-wrap">
    <div class="p-2 col-12 col-md-4 col-lg-3 hide-md hide-sm">
      <nav class="menu position-sticky" style="top: 72px;">
        <a href="/cinder/" class="menu-item" >Home</a>
    <div class="menu-heading">Components</div><a href="/cinder/components/box/" class="menu-item"
        
      >Box</a><a href="/cinder/components/buttons/" class="menu-item"
         aria-current="page"
      >Buttons</a><a href="/cinder/components/navigation/" class="menu-item"
        
      >Navigation</a>
    <div class="menu-heading">Misc</div><a href="/cinder/misc/markdown_test/" class="menu-item"
        
      >Markdown test</a>
    <div class="menu-heading">Utilities</div><a href="/cinder/utilities/margin/" class="menu-item"
        
      >Margin</a><a href="/cinder/utilities/padding/" class="menu-item"
        
      >Padding</a><a href="/cinder/utilities/typography/" class="menu-item"
        
      >Typography</a>
      </nav>
    </div>
    <div class="col-12 col-md-8 col-lg-6 flex-1 p-2 container-lg">
      <nav class="menu d-md-none">
        <a href="/cinder/" class="menu-item" >Home</a>
    <div class="menu-heading">Components</div><a href="/cinder/components/box/" class="menu-item"
        
      >Box</a><a href="/cinder/components/buttons/" class="menu-item"
         aria-current="page"
      >Buttons</a><a href="/cinder/components/navigation/" class="menu-item"
        
      >Navigation</a>
    <div class="menu-heading">Misc</div><a href="/cinder/misc/markdown_test/" class="menu-item"
        
      >Markdown test</a>
    <div class="menu-heading">Utilities</div><a href="/cinder/utilities/margin/" class="menu-item"
        
      >Margin</a><a href="/cinder/utilities/padding/" class="menu-item"
        
      >Padding</a><a href="/cinder/utilities/typography/" class="menu-item"
        
      >Typography</a>
      </nav>
      <div class="Prose">
        <h1>Buttons</h1>
<p>Buttons are used for <strong>actions</strong>, like in forms, while textual hyperlinks are used for destinations, or moving from one page to another.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><button class="btn" type="button">Button</button></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<p>Note: When using a <code>&lt;button&gt;</code> element, <strong>always specify a <code>type</code></strong>. When using a <code>&lt;a&gt;</code> element, <strong>always add <code>role=&quot;button&quot;</code> for accessibility</strong>.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><button class="btn mr-2" type="button">Button button</button>
<a class="btn" href="#url" role="button">Link button</a></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<h2>Button Types</h2>
<h3>Default</h3>
<p>Use <code>.btn</code> for form actions and general page actions.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><button class="btn" type="button">Default</button></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<h3>Primary</h3>
<p>Primary buttons use the accent color and are used to indicate the primary action on a page. When you need your buttons to stand out, use <code>.btn.btn-primary</code>. You can use it with both button sizes—just add <code>.btn-primary</code>.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><button class="btn btn-primary" type="button">Primary</button></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<h2>Button states</h2>
<h3>Disabled</h3>
<p>Disable <code>&lt;button&gt;</code> and <code>&lt;a&gt;</code> elements with the <code>aria-disabled=&quot;true&quot;</code> attribute.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><button class="btn mr-2" type="button" aria-disabled="true">Disabled</button>
<button class="btn btn-primary mr-2" type="button" aria-disabled="true">Disabled</button>
<button class="btn btn-outline mr-2" type="button" aria-disabled="true">Disabled</button>
<button class="btn btn-danger" type="button" aria-disabled="true">Disabled</button></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<h2>Button variations</h2>
<h3>Sizes</h3>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><button class="mr-2 btn btn-sm" type="button">Small</button>
<button class="mr-2 btn" type="button">Normal</button>
<button class="mr-2 btn btn-large" type="button">Large</button></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<h3>Block button</h3>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><button class="btn btn-block" type="button">Block</button></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<h2>Button groups</h2>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="BtnGroup">
  <button class="BtnGroup-item btn" type="button">Normal</button>
  <button class="BtnGroup-item btn btn-outline" type="button">Outline</button>
  <button class="BtnGroup-item btn btn-primary" type="button">Primary</button>
  <button class="BtnGroup-item btn btn-success" type="button">Success</button>
  <button class="BtnGroup-item btn btn-danger" type="button">Danger</button>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          

      </div>
    </div>
  </div>
</body>

</html>