<!DOCTYPE html>
<html lang="en" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Buttons - Cinder CSS</title>
  

  <link rel="stylesheet" href="/cinder/dist/index.css">
  <link rel="stylesheet" href="/cinder/assets/css/index.css">

  <script type="module" src="/cinder/assets/js/index.js"></script>
</head>

<body>
  <nav class="Header" style="position: sticky; top: 0;">
    <h1 class="Header-item h3 mr-3">Cinder</h1>
    <button class="Header-item  btn" theme-toggler>Toggle dark theme</button>
  </nav>
  <div class="d-flex flex-wrap">
    <div class="p-2 col-12 col-md-4 col-lg-3 hide-md hide-sm">
      <nav class="menu position-sticky" style="top: 72px;">
        <a href="/cinder/" class="menu-item" >Home</a>
    <div class="menu-heading">Components</div><a href="/cinder/components/box/" class="menu-item"
        
      >Box</a><a href="/cinder/components/buttons/" class="menu-item"
         aria-current="page"
      >Buttons</a><a href="/cinder/components/forms/" class="menu-item"
        
      >Forms</a><a href="/cinder/components/navigation/" class="menu-item"
        
      >Navigation</a><a href="/cinder/components/subheads/" class="menu-item"
        
      >Subheads</a>
    <div class="menu-heading">Misc</div><a href="/cinder/misc/markdown_test/" class="menu-item"
        
      >Markdown test</a>
    <div class="menu-heading">Utilities</div><a href="/cinder/utilities/margin/" class="menu-item"
        
      >Margin</a><a href="/cinder/utilities/padding/" class="menu-item"
        
      >Padding</a><a href="/cinder/utilities/typography/" class="menu-item"
        
      >Typography</a>
      </nav>
    </div>
    <div class="col-12 col-md-8 col-lg-6 flex-1 p-4 container-lg">
      <nav class="menu d-md-none">
        <a href="/cinder/" class="menu-item" >Home</a>
    <div class="menu-heading">Components</div><a href="/cinder/components/box/" class="menu-item"
        
      >Box</a><a href="/cinder/components/buttons/" class="menu-item"
         aria-current="page"
      >Buttons</a><a href="/cinder/components/forms/" class="menu-item"
        
      >Forms</a><a href="/cinder/components/navigation/" class="menu-item"
        
      >Navigation</a><a href="/cinder/components/subheads/" class="menu-item"
        
      >Subheads</a>
    <div class="menu-heading">Misc</div><a href="/cinder/misc/markdown_test/" class="menu-item"
        
      >Markdown test</a>
    <div class="menu-heading">Utilities</div><a href="/cinder/utilities/margin/" class="menu-item"
        
      >Margin</a><a href="/cinder/utilities/padding/" class="menu-item"
        
      >Padding</a><a href="/cinder/utilities/typography/" class="menu-item"
        
      >Typography</a>
      </nav>
      <div class="Prose">
  <h1>Buttons</h1>
  <p>Buttons are used for <strong>actions</strong>, like in forms, while textual hyperlinks are used for destinations, or moving from one page to another.</p>
<pre style="display: none!important;"></pre>
      <cinder-live-html class="Box LiveCode mb-2">
        <iframe class="LiveCode-frame" height="100"></iframe>
        <form action="#0" class="LiveCode-source">
          <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
          <div class="LiveCode-editor">
            <textarea live-code-source>&lt;button class=&quot;btn&quot; type=&quot;button&quot;&gt;Button&lt;/button&gt;</textarea>
            <pre><code></code></pre>
          </div>
        </form>
      </cinder-live-html>
      
<p>Note: When using a <code>&lt;button&gt;</code> element, <strong>always specify a <code>type</code></strong>. When using a <code>&lt;a&gt;</code> element, <strong>always add <code>role=&quot;button&quot;</code> for accessibility</strong>.</p>
<pre style="display: none!important;"></pre>
      <cinder-live-html class="Box LiveCode mb-2">
        <iframe class="LiveCode-frame" height="100"></iframe>
        <form action="#0" class="LiveCode-source">
          <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
          <div class="LiveCode-editor">
            <textarea live-code-source>&lt;button class=&quot;btn mr-2&quot; type=&quot;button&quot;&gt;Button button&lt;/button&gt;
&lt;a class=&quot;btn&quot; href=&quot;#url&quot; role=&quot;button&quot;&gt;Link button&lt;/a&gt;</textarea>
            <pre><code></code></pre>
          </div>
        </form>
      </cinder-live-html>
      
<h2 id="button-types"><a class="anchor" href="#button-types"><svg class="svgicon svgicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill="currentColor" fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>Button Types</h2>
<h3 id="default"><a class="anchor" href="#default"><svg class="svgicon svgicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill="currentColor" fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>Default</h3>
<p>Use <code>.btn</code> for form actions and general page actions.</p>
<pre style="display: none!important;"></pre>
      <cinder-live-html class="Box LiveCode mb-2">
        <iframe class="LiveCode-frame" height="100"></iframe>
        <form action="#0" class="LiveCode-source">
          <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
          <div class="LiveCode-editor">
            <textarea live-code-source>&lt;button class=&quot;btn&quot; type=&quot;button&quot;&gt;Default&lt;/button&gt;</textarea>
            <pre><code></code></pre>
          </div>
        </form>
      </cinder-live-html>
      
<h3 id="primary"><a class="anchor" href="#primary"><svg class="svgicon svgicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill="currentColor" fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>Primary</h3>
<p>Primary buttons use the accent color and are used to indicate the primary action on a page. When you need your buttons to stand out, use <code>.btn.btn-primary</code>. You can use it with both button sizes—just add <code>.btn-primary</code>.</p>
<pre style="display: none!important;"></pre>
      <cinder-live-html class="Box LiveCode mb-2">
        <iframe class="LiveCode-frame" height="100"></iframe>
        <form action="#0" class="LiveCode-source">
          <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
          <div class="LiveCode-editor">
            <textarea live-code-source>&lt;button class=&quot;btn btn-primary&quot; type=&quot;button&quot;&gt;Primary&lt;/button&gt;</textarea>
            <pre><code></code></pre>
          </div>
        </form>
      </cinder-live-html>
      
<h2 id="button-states"><a class="anchor" href="#button-states"><svg class="svgicon svgicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill="currentColor" fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>Button states</h2>
<h3 id="disabled"><a class="anchor" href="#disabled"><svg class="svgicon svgicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill="currentColor" fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>Disabled</h3>
<p>Disable <code>&lt;button&gt;</code> and <code>&lt;a&gt;</code> elements with the <code>aria-disabled=&quot;true&quot;</code> attribute.</p>
<pre style="display: none!important;"></pre>
      <cinder-live-html class="Box LiveCode mb-2">
        <iframe class="LiveCode-frame" height="100"></iframe>
        <form action="#0" class="LiveCode-source">
          <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
          <div class="LiveCode-editor">
            <textarea live-code-source>&lt;button class=&quot;btn mr-2&quot; type=&quot;button&quot; aria-disabled=&quot;true&quot;&gt;Disabled&lt;/button&gt;
&lt;button class=&quot;btn btn-primary mr-2&quot; type=&quot;button&quot; aria-disabled=&quot;true&quot;&gt;Disabled&lt;/button&gt;
&lt;button class=&quot;btn btn-outline mr-2&quot; type=&quot;button&quot; aria-disabled=&quot;true&quot;&gt;Disabled&lt;/button&gt;
&lt;button class=&quot;btn btn-danger&quot; type=&quot;button&quot; aria-disabled=&quot;true&quot;&gt;Disabled&lt;/button&gt;</textarea>
            <pre><code></code></pre>
          </div>
        </form>
      </cinder-live-html>
      
<h2 id="button-variations"><a class="anchor" href="#button-variations"><svg class="svgicon svgicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill="currentColor" fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>Button variations</h2>
<h3 id="sizes"><a class="anchor" href="#sizes"><svg class="svgicon svgicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill="currentColor" fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>Sizes</h3>
<pre style="display: none!important;"></pre>
      <cinder-live-html class="Box LiveCode mb-2">
        <iframe class="LiveCode-frame" height="100"></iframe>
        <form action="#0" class="LiveCode-source">
          <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
          <div class="LiveCode-editor">
            <textarea live-code-source>&lt;button class=&quot;mr-2 btn btn-sm&quot; type=&quot;button&quot;&gt;Small&lt;/button&gt;
&lt;button class=&quot;mr-2 btn&quot; type=&quot;button&quot;&gt;Normal&lt;/button&gt;
&lt;button class=&quot;mr-2 btn btn-large&quot; type=&quot;button&quot;&gt;Large&lt;/button&gt;</textarea>
            <pre><code></code></pre>
          </div>
        </form>
      </cinder-live-html>
      
<h3 id="block-button"><a class="anchor" href="#block-button"><svg class="svgicon svgicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill="currentColor" fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>Block button</h3>
<pre style="display: none!important;"></pre>
      <cinder-live-html class="Box LiveCode mb-2">
        <iframe class="LiveCode-frame" height="100"></iframe>
        <form action="#0" class="LiveCode-source">
          <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
          <div class="LiveCode-editor">
            <textarea live-code-source>&lt;button class=&quot;btn btn-block&quot; type=&quot;button&quot;&gt;Block&lt;/button&gt;</textarea>
            <pre><code></code></pre>
          </div>
        </form>
      </cinder-live-html>
      
<h2 id="button-groups"><a class="anchor" href="#button-groups"><svg class="svgicon svgicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill="currentColor" fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>Button groups</h2>
<pre style="display: none!important;"></pre>
      <cinder-live-html class="Box LiveCode mb-2">
        <iframe class="LiveCode-frame" height="100"></iframe>
        <form action="#0" class="LiveCode-source">
          <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
          <div class="LiveCode-editor">
            <textarea live-code-source>&lt;div class=&quot;BtnGroup&quot;&gt;
  &lt;button class=&quot;BtnGroup-item btn&quot; type=&quot;button&quot;&gt;Normal&lt;/button&gt;
  &lt;button class=&quot;BtnGroup-item btn btn-outline&quot; type=&quot;button&quot;&gt;Outline&lt;/button&gt;
  &lt;button class=&quot;BtnGroup-item btn btn-primary&quot; type=&quot;button&quot;&gt;Primary&lt;/button&gt;
  &lt;button class=&quot;BtnGroup-item btn btn-success&quot; type=&quot;button&quot;&gt;Success&lt;/button&gt;
  &lt;button class=&quot;BtnGroup-item btn btn-danger&quot; type=&quot;button&quot;&gt;Danger&lt;/button&gt;
&lt;/div&gt;</textarea>
            <pre><code></code></pre>
          </div>
        </form>
      </cinder-live-html>
      

</div>
    </div>
  </div>
</body>

</html>