<!DOCTYPE html>
<html lang="en" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
  <title>{{ title }} - Cinder CSS</title>
  {% else %}
  <title>Cinder CSS</title>
  {% endif %}

  <link rel="stylesheet" href="{{"/dist/index.css" | url}}">
  <link rel="stylesheet" href="{{"/assets/css/index.css" | url}}">

  <script>
  window.toggler_icons = {
    light: `<svg aria-hidden="true" role="img" class="svgicon" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display: inline-block; user-select: none; vertical-align: text-bottom;"><path fill-rule="evenodd" d="M9.598 1.591a.75.75 0 01.785-.175 7 7 0 11-8.967 8.967.75.75 0 01.961-.96 5.5 5.5 0 007.046-7.046.75.75 0 01.175-.786zm1.616 1.945a7 7 0 01-7.678 7.678 5.5 5.5 0 107.678-7.678z"></path></svg>`,
    dark: `<svg aria-hidden="true" role="img" class="svgicon" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display: inline-block; user-select: none; vertical-align: text-bottom;"><path fill-rule="evenodd" d="M8 10.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5zM8 12a4 4 0 100-8 4 4 0 000 8zM8 0a.75.75 0 01.75.75v1.5a.75.75 0 01-1.5 0V.75A.75.75 0 018 0zm0 13a.75.75 0 01.75.75v1.5a.75.75 0 01-1.5 0v-1.5A.75.75 0 018 13zM2.343 2.343a.75.75 0 011.061 0l1.06 1.061a.75.75 0 01-1.06 1.06l-1.06-1.06a.75.75 0 010-1.06zm9.193 9.193a.75.75 0 011.06 0l1.061 1.06a.75.75 0 01-1.06 1.061l-1.061-1.06a.75.75 0 010-1.061zM16 8a.75.75 0 01-.75.75h-1.5a.75.75 0 010-1.5h1.5A.75.75 0 0116 8zM3 8a.75.75 0 01-.75.75H.75a.75.75 0 010-1.5h1.5A.75.75 0 013 8zm10.657-5.657a.75.75 0 010 1.061l-1.061 1.06a.75.75 0 11-1.06-1.06l1.06-1.06a.75.75 0 011.06 0zm-9.193 9.193a.75.75 0 010 1.06l-1.06 1.061a.75.75 0 11-1.061-1.06l1.06-1.061a.75.75 0 011.061 0z"></path></svg>`
  }

  const theme = localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
      ? "dark"
      : "light"

  document.documentElement.dataset.colorMode = theme;
  </script>
  <script type="module" src="{{"/assets/js/index.js" | url }}"></script>
</head>

<body>
  <nav class="Header" style="position: sticky; top: 0;">
    <h1 class="Header-item h3 mr-3">Cinder</h1>
    <button class="Header-item  btn" id="color-mode-toggler">Toggle dark theme</button>
    <script>
    document.getElementById("color-mode-toggler").innerHTML = toggler_icons[theme];
    </script>
  </nav>
  <div class="d-flex flex-wrap">
    <div class="p-2 col-12 col-md-3 col-lg-3 hide-md hide-sm" style="max-width: 260px;">
      <nav class="menu">
        {% include "_nav_menu_links.njk" %}
      </nav>
    </div>
    <div class="col-12 col-md-9 col-lg-9 flex-1 p-4 container-lg">
      <nav class="menu d-md-none">
        {% include "_nav_menu_links.njk" %}
      </nav>
      {{ content | safe }}
    </div>
  </div>
</body>
</html>