---
layout: base
---
<div class="d-flex flex-wrap">
  <section class="Prose flex-1 col-12 col-md-8">
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </section>
  <aside class="col-4 p-3 hide-sm hide-md hide-lg">
    Contents
  </aside>
</div>