<!DOCTYPE html>
<html lang="en" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Box - Cinder CSS</title>
  

  <link rel="stylesheet" href="/cinder/dist/index.css">
  <link rel="stylesheet" href="/cinder/assets/css/index.css">

  <script type="module" src="/cinder/assets/js/index.js"></script>
</head>

<body>
  <nav class="Header" style="position: sticky; top: 0;">
    <h1 class="Header-item h3 mr-3">Cinder</h1>
    <button class="Header-item  btn" theme-toggler>Toggle dark theme</button>
  </nav>
  <div class="d-flex flex-wrap">
    <div class="p-2 col-12 col-md-4 col-lg-3 hide-md hide-sm">
      <nav class="menu position-sticky" style="top: 72px;">
        <a href="/cinder/" class="menu-item" >Home</a>
    <div class="menu-heading">Components</div><a href="/cinder/components/box/" class="menu-item"
         aria-current="page"
      >Box</a><a href="/cinder/components/buttons/" class="menu-item"
        
      >Buttons</a><a href="/cinder/components/navigation/" class="menu-item"
        
      >Navigation</a>
    <div class="menu-heading">Utilities</div><a href="/cinder/utilities/margin/" class="menu-item"
        
      >Margin</a><a href="/cinder/utilities/padding/" class="menu-item"
        
      >Padding</a><a href="/cinder/utilities/typography/" class="menu-item"
        
      >Typography</a>
    <div class="menu-heading">Misc</div><a href="/cinder/misc/markdown_test/" class="menu-item"
        
      >Markdown test</a>
      </nav>
    </div>
    <div class="col-12 col-md-8 col-lg-6 flex-1 p-2 container-lg">
      <nav class="menu d-md-none">
        <a href="/cinder/" class="menu-item" >Home</a>
    <div class="menu-heading">Components</div><a href="/cinder/components/box/" class="menu-item"
         aria-current="page"
      >Box</a><a href="/cinder/components/buttons/" class="menu-item"
        
      >Buttons</a><a href="/cinder/components/navigation/" class="menu-item"
        
      >Navigation</a>
    <div class="menu-heading">Utilities</div><a href="/cinder/utilities/margin/" class="menu-item"
        
      >Margin</a><a href="/cinder/utilities/padding/" class="menu-item"
        
      >Padding</a><a href="/cinder/utilities/typography/" class="menu-item"
        
      >Typography</a>
    <div class="menu-heading">Misc</div><a href="/cinder/misc/markdown_test/" class="menu-item"
        
      >Markdown test</a>
      </nav>
      <div class="Prose">
        <h1>Box</h1>
<p>A <code>.Box</code> is a container with a background, a border, and rounded corners. By default there are no additional styles such as padding, these can be added as needed with utility classes. Other styles and layouts can be achieved with box elements and modifiers shown in the documentation below.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box mb-2">
  This is a box
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<h2>Box elements</h2>
<p>Box elements include <code>Box-header</code>, <code>Box-body</code>, and <code>Box-footer</code>. These elements include borders and consistent padding. Optionally, you can include use <code>Box-title</code> which applies a bold font-weight the heading.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box">
  <div class="Box-header">
    <div class="Box-title f3">
      Box title
    </div>
  </div>
  <div class="Box-body">
    Box body
  </div>
  <div class="Box-footer">
    Box footer
  </div>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<h3>Box row</h3>
<p>Use <code>Box-row</code> to add rows with borders and maintain the same padding. Box rows have a lighter border to give contrast between the header and footer.</p>
<p><strong>Note:</strong> Box rows have some reliance on markup structure in order to target the first and last rows, therefore using an unordered list is recommended. See <a href="#box-row-markup-structure">box row markup structure</a> for more information.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box">
  <ul>
    <li class="Box-row">
      Box row one
    </li>
    <li class="Box-row">
      Box row two
    </li>
    <li class="Box-row">
      Box row three
    </li>
    <li class="Box-row">
      Box row four
    </li>
  </ul>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<p>Rows can be used with or without <code>Box-header</code>, <code>Box-footer</code>, or <code>Box-body</code>.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box">
  <div class="Box-header">
    Box header
  </div>
  <div class="Box-body">
    <strong>Box body</strong>
  </div>
  <ul>
    <li class="Box-row">
      Box row one
    </li>
    <li class="Box-row">
      Box row two
    </li>
    <li class="Box-row">
      Box row three
    </li>
    <li class="Box-row">
      Box row four
    </li>
  </ul>
  <div class="Box-footer">
    Box footer
  </div>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<h3>Box row markup structure</h3>
<p>Box rows have some reliance on markup structure in order to target the first and last rows. Box rows are given a top border that is lighter in color than other box elements so the first row is targeted to apply a darker border color. An inner border-radius is applied to the first and last rows that that row corners don't poke outside the <code>Box</code>, this can be particularly noticeable when using a highlight on box rows.</p>
<p>Using an unordered list is recommended in order to target the first and last rows, however, if you need to use a <code>&lt;div&gt;</code> for your rows, you may want to place your rows inside a parent <code>&lt;div&gt;</code> so that the first and last rows are styled appropriately.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box">
  <div class="Box-header">
    Box header
  </div>
  <!-- This wrapping div ensures the first and last rows can be targeted for styling. -->
  <div>
    <div class="Box-row">Box row using a div</div>
    <div class="Box-row">Box row using a div</div>
  </div>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<h2>Box padding density</h2>
<p>You can changed the padding density of the box component.</p>
<p>Use <code>Box--condensed</code> to apply a more condensed line-height and reduce the padding on the Y axis.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box Box--condensed">
  <div class="Box-header">
    <h3 class="Box-title">
      Box title
    </h3>
  </div>
  <div class="Box-body">
    Box body
  </div>
  <ul>
    <li class="Box-row">
      Box row one
    </li>
    <li class="Box-row">
      Box row two
    </li>
  </ul>
  <div class="Box-footer">
    Box footer
  </div>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<p>Use <code>Box--spacious</code> to increase padding and increase the title font size.</p>
<p>You may want to increase the overall font size to work with the larger padding, in this example the default body font size is increased to 16px using the <code>f4</code> typography utility.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box Box--spacious f4">
  <div class="Box-header">
    <h3 class="Box-title">
      Box title
    </h3>
  </div>
  <div class="Box-body">
    Box body
  </div>
  <ul>
    <li class="Box-row">
      Box row one
    </li>
    <li class="Box-row">
      Box row two
    </li>
  </ul>
  <div class="Box-footer">
    Box footer
  </div>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<h2>Blue box theme</h2>
<p>Use <code>Box--blue</code> to style the box borders and box header in blue.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box Box--blue">
  <div class="Box-header">
    Box header
  </div>
  <ul>
    <li class="Box-row">
      Box row one
    </li>
    <li class="Box-row">
      Box row two
    </li>
  </ul>
  <div class="Box-footer">
    Box footer
  </div>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<h2>Blue box header theme</h2>
<p>Use <code>Box-header--blue</code> to add to change the header border and background to blue.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box">
  <div class="Box-header Box-header--blue">
    <h3 class="Box-title">Box with blue header</h3>
  </div>
  <div class="Box-body">
    Box body
  </div>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<h2>Box danger theme</h2>
<p>Use <code>Box--danger</code> to apply a red border to the outside of the box. This theme is helpful for communicating destructive actions.</p>
<p><strong>Note:</strong> <code>Box-danger</code> only works with either <code>Box-row</code>'s or <code>Box-body</code>.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box Box--danger">
  <div class="Box-row">
    Row one
  </div>
  <div class="Box-row">
    Row two
  </div>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<p><code>Box-danger</code> is often paired with a red heading. See the <a href="./subhead">subhead</a> docs for more information.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div>
  <div class="Subhead border-bottom-0">
    <h2 class="Subhead-heading Subhead-heading--danger">Danger zone</h2>
  </div>

  <div class="Box Box--danger">
    <div class="Box-body">
      Box body
    </div>
  </div>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<h2>Row themes</h2>
<p>You can change the background color for individual rows, or change the color on hover or navigation focus.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box">
  <div class="Box-row Box-row--gray">
    .Box-row--gray
  </div>
  <div class="Box-row Box-row--hover-gray">
    .Box-row--hover-gray
  </div>
  <div class="Box-row Box-row--yellow">
    .Box-row--yellow
  </div>
  <div class="Box-row Box-row--hover-blue">
    .Box-row--hover-blue
  </div>
  <div class="Box-row Box-row--blue">
    .Box-row--blue
  </div>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<p>Use <code>Box-row--focus-gray</code> or <code>Box-row--focus-blue</code> when using along-side <code>navigation-focus</code> if you want to highlight rows when using keyboard commands.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box">
  <div class="Box-row Box-row--focus-gray navigation-focus">
    .Box-row--focus-gray and .navigation-focus
  </div>
  <div class="Box-row Box-row--focus-gray">
    .Box-row--focus-gray
  </div>
  <div class="Box-row Box-row--focus-blue navigation-focus">
    .Box-row--focus-blue and .navigation-focus
  </div>
  <div class="Box-row Box-row--focus-blue">
    .Box-row--focus-blue
  </div>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<h3>Box row unread</h3>
<p>Use <code>.Box-row--unread</code> to apply a blue vertical line highlight for indicating a row contains unread items.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box">
  <div class="Box-row">
    Box row
  </div>
  <div class="Box-row Box-row--unread">
    Box row unread
  </div>
  <div class="Box-row">
    Box row
  </div>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<h3>Box row link</h3>
<p>Use .<code>Box-row-link</code> when you want a link to appear dark gray and blue on hover on desktop, and remain a blue link on mobile. This is useful to indicate links on mobile without having hover styles.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box">
  <div class="Box-row">
    <a class="Box-row-link" href="#box-row-link">Box row link</a>
  </div>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<h2>Dashed border</h2>
<p>Use the <code>border-dashed</code> utility to apply a dashed border to a box.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box border-dashed p-2">
  A box with a dashed border
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<h2>Boxes with flash alerts</h2>
<p>Use <code>flash-full</code> for flash alert inside a box to remove the rounded corners. Place the flash alert above the <code>Box-body</code> and underneath the <code>Box-header</code>.</p>
<p>Flash alerts come in three different colors and can be used with icons and buttons, see the <a href="./alerts">alert documentation</a> for more information.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box">
  <div class="Box-header">
    Box header
  </div>
  <div class="flash flash-full">
    <button class="flash-close js-flash-close">
      <!-- <%= octicon "x" %> -->
      <svg class="octicon octicon-x" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"></path></svg>
    </button>
    <span>Flash message with close button.</span>
  </div>
  <div class="flash flash-full flash-success">
    <!-- <%= octicon("check") %> -->
    <svg class="octicon octicon-check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg>
    <span>Flash success with an icon.</span>
  </div>
  <div class="flash flash-full flash-warn">
    <!-- <%= octicon("alert") %> -->
    <svg class="octicon octicon-alert" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M8.893 1.5c-.183-.31-.52-.5-.887-.5s-.703.19-.886.5L.138 13.499a.98.98 0 0 0 0 1.001c.193.31.53.501.886.501h13.964c.367 0 .704-.19.877-.5a1.03 1.03 0 0 0 .01-1.002L8.893 1.5zm.133 11.497H6.987v-2.003h2.039v2.003zm0-3.004H6.987V5.987h2.039v4.006z"></path></svg>
    <span>Flash warning with an icon.</span>
  </div>
  <div class="flash flash-full flash-error">
    Flash error inside a Box.
  </div>
  <div class="Box-body">
    Box body
  </div>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<h2>Boxes with icons</h2>
<p>Use <code>Box-btn-octicon</code> with <code>btn-octicon</code> when you want the icon to maintain the same padding as other box elements. This selector offsets margin to ensure it lines up on the left and right sides of the box so you may need to add padding neighboring elements.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box">
  <div class="Box-body">
    <span class="pr-2">Box body</span>
    <button href="#" class="Box-btn-octicon btn-octicon">
      <!-- <%= octicon "pencil" %> -->
      <svg class="octicon octicon-pencil" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z"></path></svg>
    </button>
  </div>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<p>It's common to want to float icons to the far left or right and stop the <code>Box-title</code>from wrapping underneath. To do this you'll need to create a media object with utilities. Add <code>clearfix</code> to the surrounding div (this could be the header, body, or rows), add <code>overflow-hidden</code> to the title (or other text element), and float the icons as desired.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box">
  <div class="Box-header clearfix">
    <button href="#" class="Box-btn-octicon btn-octicon float-right">
      <!-- <%= octicon "x" %> -->
      <svg class="octicon octicon-x" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"></path></svg>
    </button>
    <h3 class="Box-title overflow-hidden pr-3">A very long title that wraps onto multiple lines without overlapping or wrapping underneath the icon to it's right</h3>
  </div>
  <div class="Box-body">
    Box body
  </div>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box">
  <div class="Box-row clearfix">
    <button href="#" class="Box-btn-octicon btn-octicon float-left">
      <!-- <%= octicon "check" %> -->
      <svg class="octicon octicon-check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg>
    </button>
    <p class="overflow-hidden pl-3">A very long paragraph that wraps onto multiple lines without overlapping or wrapping underneath the icon to it's left</p>
  </div>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<h2>Box headers with counters</h2>
<p>Use a counter with a background that works against the contrast of the box header. The default counter colors do not stand out well against the header background so we suggest using one of the following styles:</p>
<p>Use <code>Counter--gray</code> for a counter with a gray background and dark gray text.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box">
  <div class="Box-header">
    <h3 class="Box-title">
      Box title
      <span class="Counter Counter--gray">12</span>
    </h3>
  </div>
  <div class="Box-body">
    Box body
  </div>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<p>Use <code>Counter--gray-dark</code> for a counter with a dark gray background and white text.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box">
  <div class="Box-header">
    <h3 class="Box-title">
      Box title
      <span class="Counter Counter--gray-dark">12</span>
    </h3>
  </div>
  <div class="Box-body">
    Box body
  </div>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<h2>Form elements and buttons in boxes</h2>
<p>To achieve different layouts when adding buttons or form elements to boxes we suggest you use utilities to achieve the layout you want. Here's some common examples:</p>
<p>Use <a href="/utilities/flexbox">flexbox utilities</a> to center align items, and avoid using floats by using <code>flex-auto</code> to have the text fill the remaining space so that the button rests on the far right.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box Box--condensed">
  <div class="Box-header d-flex flex-items-center">
    <h3 class="Box-title overflow-hidden flex-auto">
      Box title
    </h3>
    <button class="btn btn-primary btn-sm">
      Button
    </button>
  </div>
  <div class="Box-body">
    Box body
  </div>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<p>A similar approach can be used for buttons with multiple lines of text within a row.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box">
  <div class="Box-row d-flex flex-items-center">
    <div class="flex-auto">
      <strong>Row title</strong>
      <div class="text-small text-gray-light">
        Description
      </div>
    </div>
    <button type="button" class="btn btn-primary" name="button">View</button>
  </div>
  <div class="Box-row d-flex flex-items-center">
    <div class="flex-auto">
      <strong>Row title</strong>
      <div class="text-small text-gray-light">
        Description
      </div>
    </div>
    <button type="button" class="btn btn-primary" name="button">View</button>
  </div>
  <div class="Box-row d-flex flex-items-center">
    <div class="flex-auto">
      <strong>Row title</strong>
      <div class="text-small text-gray-light">
        Description
      </div>
    </div>
    <button type="button" class="btn btn-primary" name="button">View</button>
  </div>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<p>Using flexbox along with form, button, and link styles, you can create more complex box headers for things like bulk actions and sorting.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box">
  <div class="Box-header d-flex flex-items-center">
    <form class="flex-auto">
      <label>
        <input class="mr-1" type="checkbox" />
        Check it
      </label>
    </form>
    <button class="btn-link select-menu-button muted-link">
      Select menu
    </button>
  </div>
  <div class="Box-body">
    Box body
  </div>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<p>You can put forms in boxes. Often form submission buttons are aligned to the bottom right of the form which you can do with <code>text-right</code> instead of using floats.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box">
  <div class="Box-header">
    <h3 class="Box-title">
      Example form title
    </h3>
  </div>
  <form>
    <div class="Box-body">
      <div class="form-group">
        <div class="form-group-header"><label>Example label</label></div>
        <div class="form-group-body"><input class="form-control" type="text"></div>
      </div>
      <div class="form-checkbox">
        <label>
          <input type="checkbox" checked="checked" />
          Yes please
        </label>
      </div>
    </div>
    <div class="Box-footer text-right">
      <button class="btn btn-secondary mr-1">
        Cancel
      </button>
      <button class="btn btn-primary">
        Submit
      </button>
    </div>
  </form>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          
<p>When a box is all by itself centered on a page you can use <a href="/objects/grid">column widths</a> to control the width of the box. If needed, break the mold a little and use <a href="/utilities/typography">typography utilities</a> instead of the built in box title styles.</p>
<pre style="display: none!important;"></pre>
          <cinder-live-html class="Box LiveCode mb-2">
            <iframe class="LiveCode-frame" height="100"></iframe>
            <form action="#0" class="LiveCode-source">
              <button class="LiveCode-copy-btn btn" type="button" data-action="copy_source">Copy</button>
              <div class="LiveCode-editor">
                <textarea live-code-source><div class="Box Box--spacious col-6 mx-auto text-center">
  <form>
    <div class="Box-body">
      <h3 class="f1-light">
        Example form
      </h3>
      <div class="form-group mb-4">
        <div class="form-group-header"><label>Example label</label></div>
        <div class="form-group-body"><input class="form-control" type="text" /></div>
      </div>
      <button class="btn btn-primary btn-block">
        Submit
      </button>
    </div>
  </form>
</div></textarea>
                <pre><code></code></pre>
              </div>
            </form>
          </cinder-live-html>
          

      </div>
    </div>
  </div>
</body>

</html>