/* Heading sizes - mobile */
/* h4-h6 remain the same size on both mobile & desktop */
/* Heading sizes - desktop */
/* Font weights */
/* Line heights */
/* Font stacks */
/* Monospace font stack */
/* The base body size */
/* These are our margin and padding utility spacers. The default step size we */
/* use is 8px. This gives us a key of: */
/*    0 => 0px */
/*    1 => 4px */
/*    2 => 8px */
/*    3 => 16px */
/*    4 => 24px */
/*    5 => 32px */
/*    6 => 40px */
/* Our spacing scale */
/* 0 */
/* 4px */
/* 8px */
/* 16px */
/* 24px */
/* 32px */
/* 40px */
/* The list of spacer values */
/* And the map of spacers, for easier looping: */
/* @each $scale, $length in $spacer-map { ... } */
/* Em spacer variables */
/* 1/16 */
/* 1/8 */
/* 1/4 */
/* 3/8 */
/* 1/2 */
/* 3/4 */
/* Size scale */
/* Used for buttons, inputs, labels, avatars etc. */
/* 16px */
/* 20px */
/* 24px */
/* 28px */
/* 32px */
/* 40px */
/* 48px */
/* 64px */
/* Fixed-width container variables */
/* Responsive container widths */
/* Breakpoints in the form (name: length) */
.LiveCode {
  display: block;
  background: none;
}

.LiveCode-frame {
  display: block;
  border-color: var(--color-border-primary);
  border-radius: 4px 4px 0 0;
  width: 100%;
  border: none;
  overflow-y: hidden;
}

.LiveCode .LiveCode-source {
  position: relative;
  border-radius: 0 0 4px 4px;
  border: none;
  border-top: 1px solid var(--color-border-primary);
  margin-bottom: 0 !important;
}
.LiveCode .LiveCode-source .LiveCode-editor {
  display: grid;
  overflow-x: auto;
}
.LiveCode .LiveCode-source .LiveCode-editor::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}
.LiveCode .LiveCode-source .LiveCode-editor > textarea {
  resize: none;
  overflow: hidden;
  display: block;
  border: none;
  background: var(--color-highlight-bg);
  color: transparent;
  width: 100%;
  resize: none;
  padding: 8px;
  caret-color: var(--color-text-primary);
}
.LiveCode .LiveCode-source .LiveCode-editor > *,
.LiveCode .LiveCode-source .LiveCode-editor::after {
  margin: 0;
  padding: 8px;
  font: 1rem/1.4 monospace;
  grid-area: 1/1/2/2;
}
.LiveCode .LiveCode-source .LiveCode-editor > pre {
  pointer-events: none;
  border: none;
  overflow-x: hidden;
}
.LiveCode .LiveCode-source .LiveCode-editor > pre > code {
  overflow-x: hidden;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.LiveCode-copy-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}