.LiveCode {
  display: block;
  background: none;
}

.LiveCode-frame {
  display: block;
  border-color: var(--color-border-primary);
  border-radius: $border-radius $border-radius 0 0;
  width: 100%;
  border: none;
  overflow-y: hidden;
}

.LiveCode .LiveCode-source {
  position: relative;
  border-radius: 0 0 $border-radius $border-radius;
  border: none;
  border-top: 1px solid var(--color-border-primary);
  margin-bottom: 0 !important;

  .LiveCode-editor {
    display: grid;
  }
  .LiveCode-editor::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
  }
  .LiveCode-editor > textarea {
    resize: none;
    overflow: hidden;
    display: block;
    border: none;
    background: var(--color-highlight-bg);
    color: transparent;
    width: 100%;
    resize: none;
    padding: $spacer-2;
    caret-color: var(--color-text-primary);
  }
  .LiveCode-editor > *,
  .LiveCode-editor::after {
    margin: 0;
    padding: $spacer-2;
    font: 1rem/1.4 monospace;
    grid-area: 1 / 1 / 2 / 2;
  }
  
  .LiveCode-editor > pre {
    pointer-events: none;
    border: none;
    overflow-x: hidden;

    > code {
      overflow-x: hidden;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
    }
  }
}

.LiveCode-copy-btn {
  position: absolute;
  top: $spacer-2;
  right: $spacer-2;
}